body {
    /* se setean los margin y padding en 0 para evitar configuraciones por defecto del navegador */
    margin: 0;
    padding: 0;
    background-color: gray;
}

.nav-item:hover {
    background-color: rgb(135, 180, 175);
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.imagenfondo {
    color: white;
    text-shadow: 0.03em 0.05em 0.05em #333;
    background-image: url('../img/keys2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    font-size: 6vw;
}

.imagenfondo div {
    padding-top: auto;
}

.imagenfondo p {
    margin: 0px;
    padding: 0px;
    width: 65%;
    /* define el tamaÃ±o del texto de acuerdo al ancho de la ventana */
    font-size: 6.5vw;
    text-align: center;
    /* desplaza el texto en el eje x */
    transform: translateX(45%);
    /* interlineado */
    line-height: normal;
}

.text-1 {
    background: #C4C4C4;
    background-color: rgba(196, 196, 196, 1);
    height: 100%;
    margin-bottom: 8px;
    padding: 30px;
}

.formulario {
    background: #8C8B8B;
    padding: 20px;
    border-radius: 10px;
}

.lista {
    list-style: none;
    margin-bottom: 7px;
}

.lista :before {
    content: '\2022';
    margin-right: 4px;
}

.subtitulo {
    margin: 25px;
}

footer a {
    color: white;
    text-decoration: none;
}

#color_1 {
    background-color: #3B3B42;
}

#boton {
    color: white;
    transform: translateX(-10px);
}

#sobrenosotros p {
    font-size: 18px;
    margin: auto;
    text-align: center;
}

#nuestrosservicios li {
    font-size: 18px;
    margin: auto;
    text-align: center;
}

@media only screen and (max-width:480px) {}

@media only screen and (min-width:481px) {}

@media only screen and (min-width:1023px) {}